name: Daily Data Update

on:
  schedule:
    - cron: '0 3 * * *' # 03:00 AM UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'

      - name: Generate API Data
        run: |
          go mod tidy
          go run main.go

      - name: Deploy API Data to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
          keep_files: true # IMPORTANTE: Mantém os arquivos do Vue (dist) já existentes lá